.flickity-viewport {
    height: 250px !important;
}

.flickity-slider >div{
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.flickity-slider > div:hover{
    opacity: 1;
}

.title > h2{
    font-size: 1.8rem;
    font-variant: petite-caps;
    font-weight: 800;
    margin-top: 20px;
}

.is-selected{
    opacity: 1 !important;
}

.add-button{
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: gray;
    padding: 5px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    transition: 0.4s ease;
}

.add-button:hover{
    background-color: lightgray;
    color: gray;
}