.flickity-viewport {
    height: 250px !important;
}

.flickity-slider >div > img{
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.flickity-slider > div > img:hover{
    opacity: 1;
}

.title > h2{
    font-size: 1.8rem;
    font-variant: petite-caps;
    font-weight: 800;
    margin-top: 20px;
}